<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>5.0</string>
	<key>CFBundleDisplayName</key>
	<string>QBank.iOS</string>
	<key>CFBundleIdentifier</key>
	<string>com.megsoft.qbank.ios</string>
	<key>CFBundleVersion</key>
	<string>0.2</string>
	<key>NSMainNibFile</key>
	<string></string>
	<key>CFBundleIconFiles</key>
	<array/>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
</dict>
</plist>
